 div {
    width: 800px;
    height: 350px;
    background-color: aqua;
    border: groove 20px black;
    border-radius:  25px;

 }


 .HO2 {
   width: 400px;
   height: 200px;
   border: dashed 40px red;
   margin: 20px auto;
 }

 #2 {
   box-sizing: border-box;
 }

 .HO3 {
   background-image: url(/popie.jpg);
   background-size: cover;
   background-repeat: no-repeat;
 }